{% extends 'base.html' %}

{% block content %}

<a href="/">Home</a>

<!-- 
    TODO: Use the guest object to display the correct name, email, phone, and
    events attending
-->

<h1>{{ current_guest.name }}</h1>

<p><strong>Email:</strong> {{ current_guest.email }}</p>
<p><strong>Phone:</strong> {{ current_guest.phone }}</p>

<h2>Events Attending:</h2>

<ul>
{% for i in range(current_guest.events_attending|length) %}
    <li><a href="/event/{{i + 1}}">{{current_guest.events_attending[i].title}}</a></li>
{% endfor %}
</ul>

{% endblock %}
